name: CLIENT-DEPLOY

on:
  push:
    paths:
      - "client/**"
    branches:
      - main
      - dev
  pull_request:
    paths:
      - "client/**"
    branches:
      - main
      - dev
    types:
      - closed

# defaults:
#   run:
#     working-directory: "./client"

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: SSH-deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.CLIENT_HOST }} # ssh 접속용 ip
          username: ${{ secrets.CLIENT_USERNAME }} # root
          password: ${{ secrets.CLIENT_PASSWORD }} # ssh 접속용 password
          port: ${{ secrets.CLIENT_PORT }} # ssh 접속용 port
          script: |
            cd web03-FanUP/client
            git pull origin dev
            yarn
            yarn run build
            sudo service nginx restart
